/nvidia-device-plugin
/config-manager
/gpu-feature-discovery
/mps-control-daemon
/releases
deployments/helm/gpu-feature-discovery
cmd/gpu-feature-discovery/gfd-test-loop
e2e_logs

# Ignore local mps-dra deployment drafts and checkpoints
deployments/mps-dra/

*.out
*.log
